<%= render 'layouts/messages'%>

<h1 align="center">Books</h1>


<%= render 'book', obj: @books%>

<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, :container => false %>
</div>