
<h1 align="center">All Books</h1>

<br>
<%= render 'book', obj: @books%>

<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, :container => false %>
</div>